/********************
YOUR STYLES
*******************/

h1 {
    text-transform: uppercase;
    color: paleturquoise;
}

.char1 {
    background: black;
    padding: 10px;
    transform: rotate(10deg);
    display: inline-block;
}

.char8 {
    background: black;
    padding: 10px;
    transform: rotate(-10deg);
    display: inline-block;
}
/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}